body {
    background-color: #B39DDB;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.dropdown {
    text-align: center;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

.default-card{
    text-align: center;
    margin:10px; 
    padding:10px; 
    position: relative;
    border-radius: 10px;
    height: 300px;
    overflow:auto;
    border: 2px solid #7E57C2;
    background-color: #EDE7F6;
}
/* added-card will have a text enter box for the title too */

.added-card {
    text-align: center;
    margin:10px; 
    padding:10px; 
    position: relative;
    border-radius: 10px;
    height: 300px;
    overflow:auto;
    border: 2px solid #2196F3;
    background-color: #BBDEFB;
}

.cardtext {
    text-align: left;
    overflow: hidden;
    width: 100%;
    height: 60%;
}

.cardtitle {
    text-align: center;
}

textarea {
    margin-bottom: 11px;
}

.deletebutton{
    float: right;
    background-color: #2196F3;
    border: none;
    color: white;
}

.deletebutton:active{
    background-color: #1565C0;
    color: white;
}

.deletebutton:hover{
    background-color: #1565C0;
    color: white;
}

.cardtitlebox {
    float: left;
    text-align: center;
}

.menubtn {
    background-color: #EDE7F6;
}